<mat-sidenav-container class="sidenav-container" fullscreen class="dark-theme">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <a routerLink="/">
        <mat-icon>gavel</mat-icon>
      </a>
    </mat-toolbar>
    <app-menu></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="app-sticky-top">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span fxFlex></span>
      <div fxFlex="60">
        <router-outlet name="searchInput"></router-outlet>
      </div>
      <span fxFlex></span>
      <app-theme-picker></app-theme-picker>
      <a mat-button href="https://github.com/haopoboy/angular-material-starter">
        <img class="app-logo" src="assets/github-circle-white-transparent.svg">
        GitHub
      </a>
    </mat-toolbar>
    <div>
      <span fxFlex></span>
      <div fxFlex="60" style="padding-top: 25px;">
        <router-outlet></router-outlet>
      </div>
      <span fxFlex></span>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>