<mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let row of cards$ | async" [colspan]="row.cols" [rowspan]="row.rows">
        <mat-card class="dashboard-card">
            <mat-card-header>
                <mat-icon mat-card-avatar *ngIf="row.icon">{{row.icon}}</mat-icon>
                <mat-icon mat-card-avatar *ngIf="row.svgIcon" [svgIcon]="row.svgIcon"></mat-icon>
                <mat-card-title>
                    {{row.title}}
                    <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="before">
                        <button mat-menu-item>Expand</button>
                        <button mat-menu-item>Remove</button>
                    </mat-menu>
                </mat-card-title>
                <mat-card-subtitle>
                    {{row.subtitle}}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <app-container [data]="row"></app-container>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>