/* You can add global styles to this file, and also import other style files */

// @import "~@angular/material/prebuilt-themes/indigo-pink";
// @import "~@angular/material/prebuilt-themes/purple-green";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.active-link .mat-icon {
  color: orangered;
}

.app-logo {
  height: 25px;
  margin: 0 4px 3px 0;
  vertical-align: middle;
}
