/* You can add global styles to this file, and also import other style files */

// @import "~@angular/material/prebuilt-themes/indigo-pink";
// @import "~@angular/material/prebuilt-themes/purple-green";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.active-link .mat-icon {
  color: orangered;
}

.app-logo {
  margin: 0 4px 3px 0;
  vertical-align: middle;
}

mat-icon.mat-card-avatar {
  font-size: 40px;
  color: gray;
}

mat-icon.mat-card-avatar svg {
  transform: scale(1);
}

.empty-content {
  color: gray;
}

.empty-content mat-icon svg {
  transform: scale(2.5);
}

.empty-content mat-icon {
  padding-bottom: 25px;
}

.opened {
  color: green;
}

.closed {
  color: red;
}
